* {
	font: 12px Helvetica, Arial, sans-serif;
	vertical-align: middle;
}
body {
	background: url(/assets/img/popup-back.gif) left top repeat-x;
}
h1 {
	text-align: center;
	font: 18px Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #000;
}
fieldset {
	border: none;
	border-top: 1px solid #C9DCA6;
}
legend {
	font-weight: bold;
}
label {
	margin-right: 6px;
}
#additionalData legend + div {
	/* Only give the margin-bottom to the first group, not to the second */
	margin-bottom: 6px;
}
#additionalData .column {
	display: inline-block;
}
#additionalData .label {
	width: 104px;
}
#additionalData .actions label span {
	vertical-align: text-bottom;
}
#amount {
	width: 100px;
}
#collector {
	width: 156px;
}
#pricings, #cardIssuers {
	display: inline;
}
#pricings {
	float: left;
	width: 50%;
}
#cardIssuers {
	float: right;
	width: 50%;
}
#cardIssuers label {
	display: block;
}
#pricings td, #pricings th {
	padding: 2px;
}
#pricings th {
	background: #C9DCA6;
}
#pricings tr:nth-child(even) {
	background: #F5FCE6;
}
#pricings tr:nth-child(odd) {
	background: #FFF;
}
.spinner-small {
	background: transparent url(/assets/img/spinner-small.gif) no-repeat top left;
	width: 16px;
	height: 16px;
}
.spinner-medium {
	background: transparent url(/assets/img/spinner-medium.gif) no-repeat top left;
	width: 32px;
	height: 32px;
}
.hand {
	cursor: pointer;
}
.help {
	cursor: help;
}
.white-background {
	background: #FFF;
}
.center {
	text-align: center;
}
.cardIssuerLogo {
	background: url(/assets/img/cardIssuers/unavailable.png) no-repeat top left;
	width: 135px;
	height: 40px;
}